{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/cld1.jpeg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->

    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        
        <div class="container" style="margin-top:150px;">
        <table id="table_format" class="table table-bordered"><tbody>
        <h1> Medical Colleges & beds:</h1><br>

          <th>State</th>
          <th>Institute name</th>
          <th>City</th>
          <th>Type</th>
          <th>Admission Capacity</th>
          <th>Hospital Beds</th>

          <tr><td><h3>State</h3></td>
          <td><h3>Institute Name</h3></td>
          <td><h3>City</h3></td>
          <td><h3>Type</h3></td>
          <td><h3>Admission Capacity</h3></td>
          <td><h3>Hospital Bed</h3></td>
          </tr>

          <tr>
               {% for l1, l1_1 in l.items() %}
              
                <td> {{ l1 }} </td>
                {% for l2, l2_1 in l1_1.items() %}
                
                <td>{{ l2 }} </td>
                {% for l3, l3_1 in l2_1.items() %}
                
                <td>{{ l3 }} </td>

                {% for l4, l4_1 in l3_1.items() %}
                
                <td>{{ l4 }} </td>

                {% for l5, l6_1 in l4_1.items() %}
                
                <td>{{ l5 }} </td>
                     
                <td>{{ l6_1 }}</td>
                
                 </tr>
                {% endfor %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
                {% endfor %}




         
</tbody></table>
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ url_for('static', filename='vendor/jquery/lisenme.js') }}"></script>

<script>jQuery('#table_format').ddTableFilter();</script>
 



       </div>
      </div>
    </div>

   {% endblock %}
