{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
      <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/c.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1></h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
                   </form><h2>Contact & Helpline Information :</h2>
                    <p id="data"></p>
                <table class="table table-bordered" border = 3 >
	            <thead>
		        <th scope="col"><h3>State Name</h3></th>
		        <th scope="col"><h3>Helpline Number</h3></th>
	
	            </thead>
                    {% for key, value in send_dict.items() %}
                <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
      </div>
    </div>

   {% endblock %}
