{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/p.gif') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>COVID-19</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
          <h2 align="center">SHORT INFO ON COVID-19</h2>
          <p>Coronavirus disease 2019 (COVID‑19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). It was first identified in December 2019 in Wuhan, Hubei, China, and has resulted in an ongoing pandemic. As of 14 September 2020, more than 29 million cases have been reported across 188 countries and territories with more than 924,000 deaths; more than 19.6 million people have recovered. </p>
          <h2 align="center">COMMON SYMPTOMS</h2>
          <p >Common symptoms include fever, cough, fatigue, shortness of breath or breathing difficulties, and loss of smell and taste. While most people have mild symptoms, some people develop acute respiratory distress syndrome (ARDS) possibly precipitated by cytokine storm, multi-organ failure, septic shock, and blood clots. The incubation period may range from two to fourteen days.</p>
          <hr>
          <h2 align="center"></h2>
          <p align="center">Thanks to <b>Flikr Hackathon Team</b> for organising the event.</p>
          <div align="center">
            <img  src="{{ url_for('static', filename='img/flipr_logo.png') }}" class="img-fluid" alt=""></div>

          
        </div>
      </div>
    </div>
    {% endblock %}
